.labels5{
    display: inline-block;
    margin: 10px;
    width: 210px;
}

.inputvelden5{
    display: inline-block;
    margin: 10px;
    width: 250px;
}

#buttonSplits{
    display: inline-block;
    margin: 10px;
    width: 80px;
}