.labels9{
    display: inline-block;
    margin: 10px;
    width: 50px;
}

.inputvelden9{
    display: inline-block;
    margin: 10px;
    width: 200px;
}

#buttonGo{
    display: inline-block;
    margin: 10px;
    width: 50px;
}

#woordElement{
    background: red;
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

#labelGefilterd{
    display: inline-block;
    margin: 10px;
    width: 300px;
}